/* Media queries */
/* Colors */
.title-size-xxs {
  font-size: 20px;
  line-height: 28px;
}

@media screen and (max-width: 1280px) {
  .title-size-xxs {
    font-size: 16px;
    line-height: 24px;
  }
}

.title-size-xs {
  font-size: 24px;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .title-size-xs {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 480px) {
  .title-size-xs {
    font-size: 18px;
    line-height: 26px;
  }
}

.title-size-s {
  font-size: 28px;
  line-height: 36px;
}

@media screen and (max-width: 768px) {
  .title-size-s {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 480px) {
  .title-size-s {
    font-size: 22px;
    line-height: 30px;
  }
}

.title-size-m {
  font-size: 41px;
  line-height: 49px;
}

@media screen and (max-width: 768px) {
  .title-size-m {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .title-size-m {
    font-size: 28px;
    line-height: 36px;
  }
}

.title-size-l {
  font-size: 50px;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  .title-size-l {
    font-size: 52px;
    line-height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .title-size-l {
    font-size: 36px;
    line-height: 44px;
  }
}

.title-size-xl {
  font-weight: 600;
  font-size: 65px;
  line-height: 73px;
}

@media screen and (max-width: 1024px) {
  .title-size-xl {
    font-size: 57px;
    line-height: 65px;
  }
}

@media screen and (max-width: 768px) {
  .title-size-xl {
    font-size: 50px;
    line-height: 58px;
  }
}

@media screen and (max-width: 480px) {
  .title-size-xl {
    font-size: 41px;
    line-height: 49px;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
}

@media screen and (max-width: 768px) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

@keyframes noTransform {
  100% {
    opacity: 1;
    transform: none;
  }
}

.title-animation {
  animation: 1s 1s noTransform both;
  opacity: 0;
  transform: translateY(-4rem) scale(0.8);
}

.title-animation--1 {
  animation-delay: 1.2s;
}

.title-animation--2 {
  animation-delay: 1.4s;
}

.title-animation--3 {
  animation-delay: 1.6s;
}

.title-animation--4 {
  animation-delay: 1.8s;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: #3d3d3d;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.push-size-xxs:not(:last-child) {
  margin-bottom: 16px;
}

.push-size-xs:not(:last-child) {
  margin-bottom: 20px;
}

.push-size-s:not(:last-child) {
  margin-bottom: 24px;
}

.push-size-m:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
  .push-size-m:not(:last-child) {
    margin-bottom: 24px;
  }
}

.push-size-l:not(:last-child) {
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .push-size-l:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .push-size-l:not(:last-child) {
    margin-bottom: 32px;
  }
}

.push-size-xl:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .push-size-xl:not(:last-child) {
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 480px) {
  .push-size-xl:not(:last-child) {
    margin-bottom: 40px;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #ffffff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navigation__button {
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .navigation__button {
    height: 4rem;
    width: 4rem;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media screen and (max-width: 768px) {
  .navigation__background {
    top: 1.5rem;
    right: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .navigation__background {
    height: 3rem;
    width: 3rem;
    top: 1rem;
    right: 1rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 0.5rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 220%;
  transition: all .4s;
}

@media screen and (max-width: 480px) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.4rem;
  }
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}

@media screen and (max-width: 480px) {
  .navigation__icon {
    margin-top: 2rem;
  }
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2.5rem;
  height: 3px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: center;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  margin-top: 80px;
  box-sizing: border-box;
  padding: 30px 15px;
  color: #999;
  background: #F1F1F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__item:first-child {
    order: 1;
    margin-top: 20px;
  }
}

.user__shape {
  width: 18rem;
  height: 18rem;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .user__shape {
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}

.user__img {
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 0 1.5rem #38a485;
  transition: all .5s;
}

.user__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #ffffff;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  backface-visibility: hidden;
}

.user:hover .user__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.user:hover .user__img {
  transform: scale(1.1);
  filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about {
  padding: 80px 0;
  position: relative;
}

.story__item {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 16px;
  transform: skewX(-12deg);
}

.story__item:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .story__item {
    width: 84%;
    padding: 4rem;
    padding-left: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .story__item {
    transform: skewX(0);
    padding: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .story__item {
    padding: 2rem;
  }
}

.story__text {
  color: #777;
  transform: skewX(12deg);
}

@media screen and (max-width: 768px) {
  .story__text {
    transform: skewX(0);
  }
}

.list__text {
  position: relative;
  left: -1.5rem;
  transition: 0.25s;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 2rem;
  transition: 0.25s;
}

@media screen and (max-width: 768px) {
  .list__item {
    padding: 0.5rem 0;
  }
}

.list__item:before {
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
  width: 2rem;
  opacity: 0.07;
  transition: 0.25s;
}

.list__item:nth-child(1):before {
  content: '1';
}

.list__item:nth-child(2):before {
  content: '2';
}

.list__item:nth-child(3):before {
  content: '3';
}

.list__item:nth-child(4):before {
  content: '4';
}

.list__item:nth-child(5):before {
  content: '5';
}

.list__item:nth-child(6):before {
  content: '6';
}

.list__item:nth-child(7):before {
  content: '7';
}

.list__item:hover {
  cursor: pointer;
}

.list__item:hover:before {
  opacity: 0.4;
}

.list__item:hover .list__text {
  left: 1rem;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  align-items: center;
  flex-basis: 235px;
  padding: 0 10px;
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

.skills__img {
  margin-right: 15px;
}

.timetable {
  min-height: 340px;
  margin-bottom: 200px;
  max-width: 1230px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .timetable .timetable {
    margin-bottom: 80px;
  }
}

.timetable__wrap {
  max-width: 1150px;
  margin-left: 75px;
  margin-right: 106px;
}

.timetable__block {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #F1F1F1;
}

.timetable__block:nth-child(odd) {
  background: #fff;
}

.timetable__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.timetable__title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  display: flex;
  min-width: 210px;
}

.timetable__date {
  min-width: 210px;
  margin-right: 30px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}

.timetable__title + p {
  margin-top: 18px;
}

.timetable__content {
  margin: 24px 0 0;
  display: none;
  font-size: 16px;
}

.timetable__content .timetable__title {
  margin-bottom: 32px;
}

.timetable__content .timetable__title:last-child {
  margin-bottom: 0px;
}

.timetable__name {
  font-size: 16px;
}

.timetable__link {
  border-bottom: 2px dotted;
  min-width: min-content;
  flex: 1;
  box-sizing: content-box;
}

@media screen and (max-width: 480px) {
  .timetable__link {
    border-bottom: 1px dotted;
  }
}

.timetable__open {
  cursor: pointer;
}

.timetable__english {
  font-size: 16px;
  font-style: italic;
  color: #999;
}

@media screen and (max-width: 960px) {
  .timetable .timetable__block {
    padding: 32px 15px;
  }
  .timetable .timetable__wrap {
    margin: 0 auto;
  }
  .timetable .timetable__date {
    min-width: 200px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 560px) {
  .timetable .timetable {
    min-height: auto;
  }
  .timetable .timetable__item {
    display: block;
  }
  .timetable .timetable__date, .timetable .timetable__title {
    font-size: 20px;
    line-height: 28px;
  }
  .timetable .timetable__date {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
  }
}

@media screen and (max-width: 480px) {
  .timetable .timetable__block {
    padding: 20px 10px;
  }
}

.timetable__note {
  font-size: 14px;
  line-height: 1.5;
  font-style: italic;
}

.timetable__text:nth-child(1) {
  padding-bottom: 30px;
}

.exemples {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
}

.exemples > * {
  transform: skewY(7deg);
}

@media screen and (max-width: 768px) {
  .exemples {
    padding: 10rem 0;
  }
}

.exemples__wrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

@media screen and (max-width: 1024px) {
  .exemples__wrap {
    flex-wrap: wrap;
  }
}

.exemples .heading-secondary {
  background-image: linear-gradient(to right, #fff, #f1f1f1);
}

.exemples .btn-text:link {
  font-size: 16px;
}

.exemples-box {
  max-width: 310px;
  margin: 0 25px;
  color: #777;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2.5rem 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

@media screen and (max-width: 768px) {
  .exemples-box {
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .exemples-box:not(:last-child) {
    margin-bottom: 50px;
  }
}

.exemples-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px) {
  .exemples-box__icon {
    margin-bottom: 0;
  }
}

.exemples-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax .parallax__group {
  position: relative;
  height: 500px;
  height: 100vh;
  transform-style: preserve-3d;
}

.highlight {
  display: inline-block;
  color: #5fde5b;
  transition: all .2s;
  padding: 0 0.8rem;
}

.highlight:hover, .highlight:active {
  color: #55c57a;
  background-color: #333;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: rotate(5deg) scale(1.1);
}

.btn-text:link, .btn-text:visited {
  font-size: 25px;
  color: #5fde5b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5fde5b;
  padding: 3px;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #5fde5b;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.align-center {
  text-align: center;
}

.division {
  margin: 80px 0;
}

.division__background--grey {
  padding: 80px 0;
  background: #F1F1F1;
}

@media screen and (max-width: 480px) {
  .division__background--grey {
    padding: 50px 15px;
  }
}

.experience {
  margin: 90px 0 40px;
}

.education {
  margin-bottom: 80px;
}
/*# sourceMappingURL=style.css.map */