@import 'base/helpers';
@import 'base/mixins';
@import 'base/typography';
@import 'base/animations';
@import 'base/base';
@import 'layout/header';
@import 'layout/footer';
@import 'blocks/user';
@import 'blocks/bg-video';
@import 'blocks/about';
@import 'blocks/list';
@import 'blocks/skills';



.parallax {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    .parallax__group {
        position: relative;
        height: 500px;
        height: 100vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

.highlight {
    display: inline-block;
    color: #5fde5b;
    transition: all .2s;
    padding: 0 0.8rem;

    &:hover, &:active {
        color: #55c57a;
        background-color: #333;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: rotate(5deg) scale(1.1);
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 25px;
        color: #5fde5b;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #5fde5b;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: #5fde5b;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.align-center {
    text-align: center;
}

.division {
    margin: 80px 0;

    &__background {

        &--grey {
            padding: 80px 0;
            background:  #F1F1F1;
            
            @include mob-down {
                padding: 50px 15px;
            }
        }
    }
}

.exemples {
    padding: 10rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../images/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include tablet-down {
        padding: 10rem 0;
    }

    &__wrap {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        padding: 0 15px;

        @include big-tablet-down {
            flex-wrap: wrap;
        }
    }
    
    .heading-secondary {
        background-image: linear-gradient(to right, #fff, #f1f1f1);
    }
    .btn-text:link {
        font-size: 16px;
    }
}

.exemples-box {
    max-width: 310px;
    margin: 0 25px;
    color: #777;
    background-color: rgba($color-white, .7);
    padding: 2.5rem 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    @include tablet-down {
        padding: 2rem;
    }

    &:not(:last-child) {
        @include big-tablet-down {
            margin-bottom: 50px;

        }
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include tablet-down {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}
