.list {
    &__text {
        position: relative;
        left: -1.5rem;
        transition: 0.25s;
    }
    
	&__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
		padding: 0.5rem 2rem;
		transition: 0.25s;

        @include tablet-down {
            padding: 0.5rem 0;
        }

        &:before {
			font-size: 4rem;
            line-height: 1;
			font-weight: bold;
			width: 2rem;
			opacity: 0.07;
			transition: 0.25s;
        }

		&:nth-child(1):before {
			content: '1';
		}
		&:nth-child(2):before {
			content: '2';
		}
		&:nth-child(3):before {
			content: '3';
		}
		&:nth-child(4):before {
			content: '4';
		}
		&:nth-child(5):before {
			content: '5';
		}
		&:nth-child(6):before {
			content: '6';
		}
		&:nth-child(7):before {
			content: '7';
		}

		&:hover {
			cursor: pointer;
			&:before {
				opacity: 0.4;
			}
			.list__text {
				left: 1rem;
			}
		}
	}
}
