.skills {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;

    &__item {
        display: flex;
        align-items: center;
        flex-basis: 235px;
        padding: 0 10px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__img {
        margin-right: 15px;
    }
}