/* Media queries */

$extra-big-tablet-width: 1280px;
$big-tablet-width: 1024px;
$tablet-width: 768px;
$mob-width: 480px;
$mob-mini-width: 370px;

/* Colors */

$color-white: #ffffff;
$color-black: #000000;
$color-text-primary: #3d3d3d;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-dark: #38A485;
$color-tertiary-light: #5fde5b;
$color-tertiary-dark: #55c57a;
$color-grey-dark-3: #333333;
$color-grey-dark: #777777;
$color-grey-light: #f1f1f1;
$color-code-built-in: #397300;
$color-code-string: #880000;

$title-sizes: (
        xxs: (
                desktop: 20px,
                big-laptop: 16px),
        xs: (
                desktop: 24px, 
                tablet: 20px,
                mobile: 18px),
        s: (
                desktop: 28px,
                tablet: 24px,
                mobile: 22px),
        m: (
                desktop: 41px,
                tablet: 32px,
                mobile: 28px),
        l: (
                desktop: 50px,
                tablet: 52px,
                mobile: 36px),
        xl: (
                desktop: 65px,
                laptop: 57px,
                tablet: 50px,
                mobile: 41px),
);

$push-sizes: (
        xxs: (
                desktop: 16px),
        xs: (
                desktop: 20px),
        s: (
                desktop: 24px),
        m: (
                desktop: 32px,
                mobile: 24px),
        l: (
                desktop: 48px,
                tablet: 40px,
                mobile: 32px),
        xl: (
                desktop: 60px,
                tablet: 52px,
                mobile: 40px),
);
