@mixin extra-big-tablet-down {
  @media screen and (max-width: #{$extra-big-tablet-width}) {
    @content;
  }
}

@mixin big-tablet-down {
  @media screen and (max-width: #{$big-tablet-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mob-down {
  @media screen and (max-width: #{$mob-width}) {
    @content;
  }
}

@mixin mob-mini-down {
  @media screen and (max-width: #{$mob-mini-width}) {
    @content;
  }
}


@mixin big-tablet-up {
  @media screen and (min-width: #{$big-tablet-width + 0.11px}) {
    @content;
  }
}

@mixin tablet-up {
  @media screen and (min-width: #{$tablet-width + 0.11px}) {
    @content;
  }
}

@mixin mob-up {
  @media screen and (min-width: #{$mob-width + 0.11px}) {
    @content;
  }
}

@mixin setLineHeight($size) {
  font-size: $size;
  line-height: $size + 8;
}

@mixin animate($animationName, $delay: 0s, $duration: 1s) {
  animation: $duration $delay $animationName both;
}