.title {
  @each $name, $size in $title-sizes {
    &-size-#{$name} {
      @if $name == xl {
        font-weight: 600;
      }

      @each $screen, $value in $size {
        @if $screen == 'desktop' {
          @include setLineHeight($value);
        }

        @include extra-big-tablet-down {
          @if $screen == 'big-laptop' {
            @include setLineHeight($value);
          }
        }

        @include big-tablet-down {
          @if $screen == 'laptop' {
            @include setLineHeight($value);
          }
        }

        @include tablet-down {
          @if $screen == 'tablet' {
            @include setLineHeight($value);
          }
        }

        @include mob-down {
          @if $screen == 'mobile' {
            @include setLineHeight($value);
          }
        }
      }
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  @include tablet-down {
      font-size: 3rem;
  }

  @include mob-down {
      font-size: 2.5rem;
  }

  &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}